@model IQueryable<Data.Ilan>

@{
    ViewBag.Title = "Anasayfa";
}

<h2>Index</h2>
@foreach (var ilandetay  in Model)
{
    
    <div class="row">
        <h2>@ilandetay.Title</h2>
        <div>
            @Html.Raw(ilandetay.IlanDetay.Aciklama)
            @Html.Raw(ilandetay.MetreKare)<b>m2</b>
            <br />  
            <b> @Html.Raw(ilandetay.Kategori.KategoriAdi)</b>
            <br />
            <b>Eklenme Tarihi: </b>@Html.Raw(ilandetay.Tarih)
        </div>

        <div class="well posts-detail">
           
            <span class="glyphicon glyphicon-time"></span> @ilandetay.Tarih.ToString()
            
        </div>
    </div>
}